table>tr>td>button {
    background-color: #0d6efd;
    margin-bottom: 12px;
    margin-left: 8px;
}

table>tr>td>button:hover {
    background-color: #0b5ed7;
}
.pl-3 {
    padding-left: 24px;
}
.mt-6 {
    margin: 6px 0px;
}